@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@import '../styles/index.css';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 'Lexend', sans-serif;
}

body {
  @apply min-h-screen 
}

p {
  @apply text-text text-sm lg:text-base
}

h1 {
  @apply font-bold lg:text-6xl text-5xl
}

