/* First */	

.sloganContainer {
    @apply h-[94vh] lg:h-[92vh] lg:w-1/3 w-screen flex items-center justify-center bg-gradient-to-b from-title to-blue-600
  }
  
  .slogan {
    @apply z-50 flex flex-col items-center justify-center gap-8
  }
  
  .slogan h1 {
    font-family: 'Anton', sans-serif;
    letter-spacing: 5px;
    @apply text-5xl lg:text-6xl text-orange-300 text-center
  }
  
  .slogan h2 {
    font-family: 'Anton', sans-serif;
    letter-spacing: 3px;
    @apply text-4xl lg:text-5xl text-white text-center
  }
  
  /* Second */
  
  .whatIsContainer {
    @apply h-auto lg:h-5/6 flex flex-col items-center px-5 py-20 lg:flex-row lg:items-center lg:justify-center lg:px-60 lg:py-0
  }
  
  .whatIsTitle{
    @apply text-title mb-6 text-center lg:text-left lg:mb-4
  }
  
  .whyUseTitle {
    @apply lg:h-1/6 h-auto py-8 w-screen bg-title flex items-center justify-center text-center
  }